@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Source+Sans+Pro:ital,wght@0,300;0,700;1,300;1,700&display=swap');


.new-tweet{
	display:flex;
	flex-direction:column;
	align-items: center;
}

#tweet-text{
	background-color: #f4f1ec;
	border: none;
  border-bottom: 4px solid #545149;
  width: 90vw;
  resize: none;

  margin: 20px 0px; 
}

#tweet-text:focus {
	outline:none;
}


#bajoTextInput{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	size: 90vw;
}

.error{
	display:flex;
	justify-content: center;
	background-color: #ff2222;
	border: none;
  
  width: 70vw;
  font-family: 'Bungee', cursive;
  color:#fafa47;
  padding:20px;
  margin: 20px 0px;
  font-size: 0.7em; 
}

.fa-exclamation-triangle{
	margin-right: 5px;
}

#tweetBtn{

	/*color:#ffffff;*/
	font-family: 'Bungee', cursive;
	background: linear-gradient(45deg, rgba(179,45,45,1) 0%, rgba(45,150,191,1) 50%, rgba(179,45,45,1) 100%);
	/*background: linear-gradient(45deg, #f06, yellow);;*/

	background-size: 300% 75%;

	mix-blend-mode: normal;


	animation: btnAnim 60s ease infinite;
}

@keyframes btnAnim { 
    0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 50% 50%;
	}
	100% {
		background-position: 100% 50%;
	}
}

#counter{font-family: 'Bungee', cursive;}


/*///////DESKTOP MEDIA QUERY////////*/

@media screen and (min-width: 1024px){

	.new-tweet{

		width: 55vw;
		margin-top: 100px;
		padding: 5vh 5vw;
		margin-left: 40vw;
		align-self: flex-end;

	}

	#tweet-text{
		width: 55vw;
		margin-left: 5vw;

	}

	#bajoTextInput{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		size: 55vw;
		margin-left: 5vw;
	}

	.error{
		display:flex;
		justify-content: center;

		background-color: #ff2222;
		border: none;
	  
	  width: 40vw;
	  font-family: 'Bungee', cursive;
	  color:#fafa47;
	  padding:20px;
	  margin: 20px 0px 20px 5vw;
	  font-size: 0.7em; 
	}
		



}


